---
layout: default

permalink: /trading-strategies/

atitle: "Trading Strategies"
subtitle: "Whether you’re building a welcome mat for your SaaS or a clean, corporate portfolio, Stack has your design needs covered."

title: AlphaEdge Trading Strategies page

description: AlphaEdge | Trading Strategies - Description 160-260 chars

seo:
  type: WebPage

---


<section class="bg--secondary unpad">
 {% include trading-strategies/strategies-crumbs.html %}
  <div class="container">
    <div class="row">
      {% assign strategies = site.trading-strategies %}

      {% for item in strategies %}
      {% if item.name %}
      <div class="col-sm-6">
        <div class="feature feature-2 feature--featured boxed boxed--border">
          <i class="icon  icon--lg {{ item.icon }} color--primary"></i>
          <div class="feature__body">
            <h5>{{ item.atitle }}</h5>
            <p>
              {{ item.subtitle }}
            </p>
            <a href="{{ item.url | absolute_url }}">
                Learn more
            </a>
            {% if item.label == 'hot'%}
            <span class="label">Hot</span>
            {% endif %}
          </div>
        </div>
        <!--end feature-->
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
