<script src='{{"/assets/js/jquery-3.1.1.min.js" | absolute_url }}'></script>
<script src='{{"/assets/js/flickity.min.js" | absolute_url }}'></script>
<script src='{{"/assets/js/easypiechart.min.js" | absolute_url }}'></script>
<script src='{{"/assets/js/parallax.js" | absolute_url }}'></script>
<script src='{{"/assets/js/typed.min.js" | absolute_url }}'></script>
<script src='{{"/assets/js/datepicker.js" | absolute_url }}'></script>
<script src='{{"/assets/js/isotope.min.js" | absolute_url }}'></script>
<script src='{{"/assets/js/ytplayer.min.js" | absolute_url }}'></script>
<script src='{{"/assets/js/lightbox.min.js" | absolute_url }}'></script>
<script src='{{"/assets/js/granim.min.js" | absolute_url }}'></script>
<script src='{{"/assets/js/jquery.steps.min.js" | absolute_url }}'></script>
<script src='{{"/assets/js/countdown.min.js" | absolute_url }}'></script>
<script src='{{"/assets/js/twitterfetcher.min.js" | absolute_url }}'></script>
<script src='{{"/assets/js/spectragram.min.js" | absolute_url }}'></script>
<script src='{{"/assets/js/smooth-scroll.min.js" | absolute_url }}'></script>
<script src='{{"/assets/js/scripts.js" | absolute_url }}'></script>

{% if page.math == true %}

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

{% endif %}

{% if page.url contains "search" %}
<script src='{{ "/assets/js/lunr.js" | absolute_url }}'></script>
<script src='{{ "/assets/js/search.js" | absolute_url }}'></script>
{% endif %}

