<section class="switchable switchable--switch feature-large {{ site.data.spacing.spacing-class }}">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <a href="http://via.placeholder.com/1200x800" data-lightbox="true">
          <img alt="Image" class="border--round" src="http://via.placeholder.com/600x400">
        </a>
      </div>
      <div class="col-sm-6 col-md-6">
        <p class="">
          AlphaEdge offers a unique view into the research activity within the eVestment Global Database – named “Most Influential Database” by FundFire and ranked the #1 “Must Be In” database by iiSEARCHES. Advantage shows you which specific data elements are being researched and what criteria is being used to compare managers. Asset managers can view how many screens they are passing or failing – and whether fails are due to missing data or not meeting criteria. This intelligence allows asset managers to better assess their competitive position, and gives investors and consultants the information they need to better anticipate future trends.
        </p>
        <p class="text-center">
          <a class="btn btn--default btn--icon" href="#">
                <span class="btn__text">
                    <i class="icon-Information"></i> Request a demo</span>
            </a>
          <a class="btn btn--primary btn--icon" href="#">
                <span class="btn__text">
                    <i class="icon-Arrow-Forward2"></i> View products</span>
            </a>
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="text-center {{ site.data.spacing.spacing-class }}">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h2>All the tools you'll need</h2>
        <p class="lead">
          Whether you’re building a welcome mat for your SaaS or a clean, corporate portfolio, Stack has your design needs covered.
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<section class="text-center {{ site.data.spacing.spacing-class }}">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="feature feature-1">
          <img alt="Image" src="http://via.placeholder.com/360x240">

          <div class="feature__body boxed boxed--lg boxed--border">
            <h4>Built With Blocks</h4>
            <p class="">
              Save time with over 240 carefully styled components designed to showcase your content
            </p>
            <a href="#">
    Learn More
    </a>
          </div>
        </div>
        <!--end feature-->
      </div>
      <div class="col-sm-4">
        <div class="feature feature-1">
          <img alt="Image" src="http://via.placeholder.com/360x240">
          <div class="feature__body boxed boxed--lg boxed--border">
            <h4>Modern Aesthetic</h4>
            <p class="">
              Jump start your project with Stack's diverse array of beautiful pre-built templates
            </p>
            <a href="#">
    Learn More
    </a>
          </div>
        </div>
        <!--end feature-->
      </div>
      <div class="col-sm-4">
        <div class="feature feature-1">
          <img alt="Image" src="http://via.placeholder.com/360x240">
          <div class="feature__body boxed boxed--lg boxed--border">
            <h4>Beautiful Markup</h4>
            <p class="">
              With fully documented elements pages that help you customize Stack to your needs
            </p>
            <a href="#">
    Learn More
    </a>
          </div>
        </div>
        <!--end feature-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
