<div class="col-md-4 hidden-sm">
  <div class="boxed boxed--border bg--secondary {{ site.data.spacing.sidebar-spacing }} mb--3">
    <div class="sidebar__widget">
      <h5>Search Blog</h5>
      <form action='{{ "/search" | absolute_url }}' method="get">
        <input type="text" id="search_box" name="query" placeholder="Type search here" />
      </form>
    </div>
    <!--end widget-->
    <div class="sidebar__widget">
      <h5>Text Widget</h5>
      <p>
        Our new digital products will take your workflow to all-new levels of high productivity. We know you'll find everything you need - and more! Start building with Stack.
      </p>
    </div>
    <!--end widget-->

    <div class="sidebar__widget">
      <h5>Categories</h5>
      <ul>
        {% assign categories_list = site.categories %}
        {% if categories_list.first[0] == null %}
          {% for category in categories_list %}
            <li><a href="{{ site.url }}/blog/{{ category }}">{{ category | capitalize }} ({{ site.tags[category].size }})</a></li>
          {% endfor %}
        {% else %}
          {% for category in categories_list %}
            <li><a href="{{ site.url }}/blog/{{ category[0] }}">{{ category[0] | capitalize }} ({{ category[1].size }})</a></li>
          {% endfor %}
        {% endif %}
      {% assign categories_list = nil %}
      </ul>
    </div>
    <!--end widget-->
  </div>
</div>
