<div class="nav-container ">
  <div class="bar bar--sm visible-xs" data-scroll-class="100px:pos-fixed">
    <div class="container">
      <div class="row">
        <div class="col-xs-3 col-sm-2">
          <a href="/">
            <img class="logo logo-dark" alt="logo" src="/assets/img/logo-dark.png" />
            <img class="logo logo-light" alt="logo" src="/assets/img/logo-light.png" />
          </a>
        </div>
        <div class="col-xs-9 col-sm-10 text-right">
          <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
            <i class="icon icon--sm stack-interface stack-menu"></i>
          </a>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </div>
  <!--end bar-->
  <nav id="menu1" class="bar bar--sm bar-1 hidden-xs" data-scroll-class="100px:pos-fixed">
    <div class="container">
      <div class="row">
        <div class="col-md-1 col-sm-2 hidden-xs">
          <div class="bar__module">
            <a href="/">
              <img class="logo logo-dark" alt="logo" src="/assets/img/logo-dark.png" />
              <img class="logo logo-light" alt="logo" src="/assets/img/logo-light.png" />
            </a>
          </div>
          <!--end module-->
        </div>
        <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
          <div class="bar__module">
            <ul class="menu-horizontal text-left">
              <li class="dropdown dropdown--hover">
                <span class="dropdown__trigger">Trading Solutions</span>
                <div class="dropdown__container">
                  <div class="container">
                    <div class="row">
                      <div class="dropdown__content col-md-2 col-sm-4">
                        <ul class="menu-vertical">
                        {% assign solutions = site.trading-software-solutions | where:"category","trading-software-solutions" %}

                        {% for item in solutions %}
                          <li>
                            <a href="{{ item.url }}">
                              {{ item.atitle }}
                            </a>
                          </li>
                        {% endfor %}
                        </ul>
                      </div>
                      <!--end dropdown content-->
                    </div>
                    <!--end row-->
                  </div>
                </div>
                <!--end dropdown container-->
              </li>
              <li class="dropdown dropdown--hover">
                <span class="dropdown__trigger">Strategies</span>
                <div class="dropdown__container">
                  <div class="container">
                    <div class="row">
                      <div class="dropdown__content col-md-2 col-sm-4">
                        <ul class="menu-vertical">
                        {% assign strategies = site.trading-strategies %}

                        {% for item in strategies %}
                        {% if item.name %}
                          <li>
                            <a href="{{ item.url }}">
                              {{ item.atitle }}
                            </a>
                          </li>
                        {% endif %}
                        {% endfor %}

                        </ul>
                      </div>
                      <!--end dropdown content-->
                    </div>
                    <!--end row-->
                  </div>
                </div>
                <!--end dropdown container-->
              </li>
              <li>
                <a href="/pricing">
                    Pricing
                </a>
              </li>


              <li class="dropdown dropdown--hover">
                <span class="dropdown__trigger">Docs</span>
                <div class="dropdown__container">
                  <div class="container">
                    <div class="row">
                      <div class="dropdown__content col-md-2 col-sm-4">
                        <ul class="menu-vertical">
                          {% assign docs = site.docs | sort: 'order' %}

                          {% for item in docs %}
                            {% if item.name %}

                          <li>
                            <a href="{{ item.url }}">
                              {{ item.atitle }}
                            </a>
                          </li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                      </div>
                      <!--end dropdown content-->
                    </div>
                    <!--end row-->
                  </div>
                </div>
                <!--end dropdown container-->
              </li>

              <li class="dropdown dropdown--hover">
                <span class="dropdown__trigger">Support</span>
                <div class="dropdown__container">
                  <div class="container">
                    <div class="row">
                      <div class="dropdown__content col-md-2 col-sm-4">
                        <ul class="menu-vertical">
                          <li>
                            <a href="{{ site.community-forum }}">
                              Community Forum
                            </a>
                          </li>
                          <li>
                            <a href="/contact">
                              Contact Support
                            </a>
                          </li>

                        </ul>
                      </div>
                      <!--end dropdown content-->
                    </div>
                    <!--end row-->
                  </div>
                </div>
                <!--end dropdown container-->
              </li>
              <li>
                <a href="/blog">
                                    Blog
                                </a>
              </li>
              <li>
                <a href="#">
                                   About
                                </a>
              </li>
            </ul>
          </div>
          <!--end module-->
          <div class="bar__module">
            <a class="btn btn--sm type--uppercase" href="#">
                                    <span class="btn__text">
                                        Download
                                    </span>
                        </a>
            <a class="btn btn--sm btn--primary type--uppercase" href="#">
                                    <span class="btn__text">
                                        Try now
                                    </span>
                        </a>
          </div>
          <!--end module-->
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </nav>
  <!--end bar-->
</div>
