<section class="text-center bg--primary-1 {{ site.data.spacing.page-title-spacing-class }}">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8">
        <h1>{{ page.atitle }}</h1>
        {% if page.subtitle %}
        <p class="lead">
          {{ page.subtitle }}
        </p>
        {% endif %}

        {% if page.url == '/docs/'%}
          {% include docs/docs-search.html %}
        {% endif %}

      </div>
    </div>
    <!--end of row-->
  </div>
</section>
