---
layout: docs


---

  {% if page.atitle %}
  {% include partials/page-title.html %}
  {% endif %}

  {% if page.name %}

<section class="unpad bg--primary-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="breadcrumbs pull-right">
          <li>
            <a href='{{ "/docs" | absolute_url }}'>Documentation</a>
          </li>
          <li>{{ page.atitle }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>


  {% else %}
<section class="unpad bg--primary-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="breadcrumbs pull-right">
          <li>
            <a href='{{ "/docs" | absolute_url }}'>Documentation</a>
          </li>
          <li>
            <a href="{{ site.url }}/docs/{{ page.category }}/">{{ page.category | replace: '-', ' ' | capitalize }}</a>
          </li>
          <li>{{ page.atitle }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>


  {% endif %}


<section class="{{ site.data.spacing.spacing-class }} unpad--bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-push-3 col-sm-12">
        <article class="mb--3">

          <div class="article__body">

            <div class="row">

              <div class="col-md-12">{{ content }}</div>

            </div>
          </div>
        </article>
      </div>
      <div class="col-md-3 col-md-pull-9 col-sm-12">
        <div class="boxed boxed--border bg--secondary {{ site.data.spacing.sidebar-spacing }}">
          <div class="sidebar__widget">
            <h5>Search Docs</h5>
            <form action='{{ "/search" | absolute_url }}' method="get">
              <input type="text" id="search_box" name="query" placeholder="Type search here" />
            </form>

          </div>


          <div class="sidebar__widget">
            <div class="nav-sidebar-column docs-menu">
              <ul class="menu-vertical">
                <li>
                  <a href='{{ "/docs" | absolute_url }}' class="docs-home">
                    <!--    <i class="icon-Home icon icon--xs"></i>-->
                    Docs Home
                  </a>
                </li>
                {% assign docs = site.docs | sort: 'order' %} {% for item in docs %} {% if item.name %}
                <li class="dropdown {% if page.url contains item.name %}dropdown--active{% endif %}">
                  <span class="dropdown__trigger">{{ item.atitle }}</span>
                  <div class="dropdown__container">
                    <div class="dropdown__content">
                      <ul class="menu-vertical">
                        {% if item.name == "user-guide" %} {% assign user-guides = site.docs | where:"category","user-guide" %} {% for item in user-guides %}
                        <li>
                          <a href="{{ item.url | absolute_url }}">
                      {{ item.atitle }}
                    </a>
                        </li>
                        {% endfor %} {% elsif item.name == "developer-guide" %} {% assign developer-guides = site.docs | where:"category","developer-guide" %} {% for item in developer-guides %}
                        <li>
                          <a href="{{ item.url | absolute_url }}">
                      {{ item.atitle }}
                    </a>
                        </li>
                        {% endfor %} {% elsif item.name == "framework-api" %} {% assign framework-apis = site.docs | where:"category","framework-api" %} {% for item in framework-apis %}
                        <li>
                          <a href="{{ item.url | absolute_url }}">
                      {{ item.atitle }}
                    </a>
                        </li>
                        {% endfor %} {% elsif item.name == "tutorials" %} {% assign tutorials = site.docs | where:"category","tutorials" %} {% for item in tutorials %}
                        <li>
                          <a href="{{ item.url | absolute_url }}">
                      {{ item.atitle }}
                    </a>
                        </li>
                        {% endfor %} {% endif %}
                      </ul>
                    </div>
                  </div>
                </li>
                {% endif %} {% endfor %}

              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
