<!doctype html>
<html lang="en">

<head>
  {% include head.html %}
</head>

<body class=" ">
  <a id="start"></a>
  <!--end of notification-->
  {% include partials/nav.html %}
  <div class="main-container">

    <section class="space--sm">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-8">
            <article>
              <div class="article__title text-center">
                <h1 class="h2">{{ page.headline }}</h1>
                <span>{{ page.date | date: '%B %d, %Y' }}</span>
                <span>
                  <a href="/category/{{ page.strategy }}">{{ page.strategy | replace: '-', ' ' | capitalize }}</a>
                </span>
              </div>
              <!--end article title-->
              <div class="article__body">
                {{ content }}
              </div>
              <div class="article__share text-center">
                <a class="btn bg--facebook btn--icon" href="#">
                  <span class="btn__text">
                      <i class="socicon socicon-facebook"></i>
                      Share on Facebook
                  </span>
                </a>
                <a class="btn bg--twitter btn--icon" href="#">
                  <span class="btn__text">
                      <i class="socicon socicon-twitter"></i>
                      Share on Twitter
                  </span>
                </a>
              </div>
            </article>
            <section class="text-center space--sm">
              <div class="container">
                <div class="row">

                  <div class="boxed boxed--lg bg--dark subscribe-form-1">
                    <h3>Get our latest content in your inbox</h3>
                    <h5>Join over 20,000 satisfied customers</h5>
                    <div class="col-sm-8 col-sm-offset-2 text-left">
                      <form>
                        <input type="text" name="name" placeholder="Your Name">
                        <input type="email" name="email" placeholder="Email Address">
                        <div class="input-checkbox">
                          <input type="checkbox" name="agree" id="input-assigned-0">
                          <label for="input-assigned-0"></label>
                        </div>
                        <span>I have read and agree to the
                            <a href="#">terms and conditions</a>
                        </span>
                        <button type="submit" class="btn btn--primary type--uppercase">Subscribe To Newsletter</button>
                      </form>
                    </div>
                  </div>
                </div>
                <!--end of row-->
              </div>
              <!--end of container-->
            </section>
          </div>
          {% include blog/sidebar.html %}
        </div>

        <!--end of row-->
      </div>
      <!--end of container-->
    </section>
    {% include blog/recent-posts.html %}
    {% include footer.html bg-class="" %}
  </div>
  <!--<div class="loader"></div>-->
  <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="stack-interface stack-up-open-big"></i>
  </a> {% include script.html %}
</body>

</html>
