<!doctype html>
<html lang="en">

<head>
  {% include head.html %}
</head>

<body class=" ">
  <a id="start"></a>
  <!--end of notification-->
  {% include partials/nav.html %}
  <div class="main-container">
  {% if page.atitle %}
  {% include partials/page-title.html %}
  {% endif %}


  {% include trading-strategies/strategy-item-crumbs.html %}

    <section class="unpad">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-md-push-3 col-sm-12">
            <article class="mb--3">
              <div class="article__title text-center">
                <h2>{{ page.atitle }}</h2>
                <span>{% if page.date %}{{ page.date | date: '%B %d, %Y' }}{% else %}{{ site.time | date: '%B %d, %Y' }}{% endif %}</span>
                <span>
                  <a href="/trading-stratefies/{{ page.strategy }}">{{ page.strategy | replace: '-', ' ' | capitalize }}</a>
                </span>
              </div>
              <div class="article__body">
                {{ content }}
              </div>
            </article>
          </div>
          <div class="col-md-3 col-md-pull-9 col-sm-6">
        <div class="sidebar boxed boxed--border boxed--lg bg--secondary">

          <div class="sidebar__widget">
            <h5>{{ page.category | replace: '-', ' ' | capitalize }} categories</h5>
            <ul>
              {% if page.category == 'mean-reversion' %}
                {% assign reversions = site.trading-strategies | where:"category","mean-reversion" %}

                {% for item in reversions %}
                  {% unless item.url == page.url %}
                    <li>
                      <a href="{{ item.url | relative_url }}">{{ item.atitle }}</a>
                    </li>
                  {% endunless %}

                {% endfor %}

              {% elsif page.category == 'technical-analysis' %}

                {% assign analysys = site.trading-strategies | where:"category","technical-analysis" %}

                {% for item in analysys %}

                  {% unless item.url == page.url %}
                    <li>
                      <a href="{{ item.url | relative_url }}">{{ item.atitle }}</a>
                    </li>
                  {% endunless %}

                {% endfor %}

              {% elsif page.category == 'volatility' %}

                {% assign volatilities = site.trading-strategies | where:"category","volatility" %}

                {% for item in volatilities %}

                  {% unless item.url == page.url %}
                    <li>
                      <a href="{{ item.url | relative_url }}">{{ item.atitle }}</a>
                    </li>
                  {% endunless %}

                {% endfor %}

              {% elsif page.category == 'momentum' %}

                {% assign momentums = site.trading-strategies | where:"category","momentum" %}

                {% for item in momentums %}

                  {% unless item.url == page.url %}
                    <li>
                      <a href="{{ item.url | relative_url }}">{{ item.atitle }}</a>
                    </li>
                  {% endunless %}

                {% endfor %}

              {% elsif page.category == 'portfolio-optimization' %}

                {% assign optimizations = site.trading-strategies | where:"category","portfolio-optimization" %}

                {% for item in optimizations %}

                  {% unless item.url == page.url %}
                    <li>
                      <a href="{{ item.url | relative_url }}">{{ item.atitle }}</a>
                    </li>
                  {% endunless %}

                {% endfor %}

              {% endif %}

            </ul>
          </div>

          <div class="sidebar__widget">
            <h5>All Strategies</h5>
            <ul>
            {% assign strategies = site.trading-strategies %}

            {% for item in strategies %}
            {% if item.name %}
              <li>
                <a href="{{ item.url | relative_url }}">
                  {{ item.atitle }}
                </a>
              </li>
            {% endif %}
            {% endfor %}

            </ul>
          </div>

        </div>
      </div>
        </div>
      </div>
    </section>

    {% include footer.html bg-class="bg--dark" %}
  </div>
  <!--<div class="loader"></div>-->
  <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="stack-interface stack-up-open-big"></i>
  </a>
  {% include script.html %}
</body>

</html>
